In [2]:
import pandas as pd
from pandas import read_csv
import numpy as np
from datetime import datetime

In [4]:
# Tariffs ToU
#Disclaimer: the original table conatined information for 2013 only; the experiment was run only throughout this year.
#we took the liberty to expand the table for 2012 and apply a fixed rate tariff for all timestamps
folder = "/Users/mariabelenalberti/OneDrive - Universidad Torcuato Di Tella/Tesis/smart-meters-in-london/"
filename = "tariffs_tou.csv"
tariffs_tou = pd.read_csv(folder + filename)

In [5]:
# Tariffs Std
folder = "/Users/mariabelenalberti/OneDrive - Universidad Torcuato Di Tella/Tesis/smart-meters-in-london/"
filename = "tariffs_std.csv"
tariffs_std = pd.read_csv(folder + filename)

In [6]:
#weather
folder = "/Users/mariabelenalberti/OneDrive - Universidad Torcuato Di Tella/Tesis/smart-meters-in-london/"
filename = "weather_half_hourly.csv"
weather = pd.read_csv(folder + filename)

In [9]:
# acornu
folder = "/Users/mariabelenalberti/OneDrive - Universidad Torcuato Di Tella/Tesis/datasets/viejos/"
filename = "acornu_std_grouped.csv"
acornu_std = pd.read_csv(folder + filename)

folder = "/Users/mariabelenalberti/OneDrive - Universidad Torcuato Di Tella/Tesis/datasets/viejos/"
filename = "acornu_tou_grouped.csv"
acornu_tou = pd.read_csv(folder + filename)

In [11]:
#adveristy
folder = "/Users/mariabelenalberti/OneDrive - Universidad Torcuato Di Tella/Tesis/datasets/viejos/"
filename = "adversity_std_grouped.csv"
adversity_std = pd.read_csv(folder + filename)

folder = "/Users/mariabelenalberti/OneDrive - Universidad Torcuato Di Tella/Tesis/datasets/viejos/"
filename = "adversity_tou_grouped.csv"
adversity_tou = pd.read_csv(folder + filename)

In [12]:
#affluent
folder = "/Users/mariabelenalberti/OneDrive - Universidad Torcuato Di Tella/Tesis/datasets/viejos/"
filename = "affluent_std_grouped.csv"
affluent_std = pd.read_csv(folder + filename)

folder = "/Users/mariabelenalberti/OneDrive - Universidad Torcuato Di Tella/Tesis/datasets/viejos/"
filename = "affluent_tou_grouped.csv"
affluent_tou = pd.read_csv(folder + filename)

In [13]:
#comfortable
folder = "/Users/mariabelenalberti/OneDrive - Universidad Torcuato Di Tella/Tesis/datasets/viejos/"
filename = "comfortable_std_grouped.csv"
comfortable_std = pd.read_csv(folder + filename)

folder = "/Users/mariabelenalberti/OneDrive - Universidad Torcuato Di Tella/Tesis/datasets/viejos/"
filename = "comfortable_tou_grouped.csv"
comfortable_tou = pd.read_csv(folder + filename)

In [14]:
del acornu_std['Unnamed: 0']
del acornu_tou['Unnamed: 0']
del adversity_std['Unnamed: 0']
del adversity_tou['Unnamed: 0']
del affluent_std['Unnamed: 0']
del affluent_tou['Unnamed: 0']
del comfortable_std['Unnamed: 0']
del comfortable_tou['Unnamed: 0']

In [15]:
acornu_std['timestamp'] = pd.to_datetime(acornu_std['timestamp'],format = '%Y-%m-%d')
acornu_tou['timestamp'] = pd.to_datetime(acornu_tou['timestamp'],format = '%Y-%m-%d')
adversity_std['timestamp'] = pd.to_datetime(adversity_std['timestamp'],format = '%Y-%m-%d')
adversity_tou['timestamp'] = pd.to_datetime(adversity_tou['timestamp'],format = '%Y-%m-%d')
affluent_std['timestamp'] = pd.to_datetime(affluent_std['timestamp'],format = '%Y-%m-%d')
affluent_tou['timestamp'] = pd.to_datetime(affluent_tou['timestamp'],format = '%Y-%m-%d')
comfortable_std['timestamp'] = pd.to_datetime(comfortable_std['timestamp'],format = '%Y-%m-%d')
comfortable_tou['timestamp'] = pd.to_datetime(comfortable_tou['timestamp'],format = '%Y-%m-%d')

In [16]:
#weather
weather.tail()

,timestamp,temperature,apparent_temperature,pressure,wind_speed,humidity
35079,31/12/2013 21:30,12.51,12.51,1015.14,4.44,0.86
35080,31/12/2013 22:00,12.54,12.54,1014.90,4.80,0.87
35081,31/12/2013 22:30,12.54,12.54,1014.90,4.80,0.87
35082,31/12/2013 23:00,12.63,12.63,1014.77,4.84,0.87
35083,31/12/2013 23:30,12.63,12.63,1014.77,4.84,0.87

In [17]:
weather['timestamp'] = pd.to_datetime(weather['timestamp'],format = '%d/%m/%Y %H:%M')

In [18]:
acornu_std = pd.merge(acornu_std,weather,on='timestamp')
acornu_tou = pd.merge(acornu_tou,weather,on='timestamp')
adversity_std = pd.merge(adversity_std,weather,on='timestamp')
adversity_tou = pd.merge(adversity_tou,weather,on='timestamp')
affluent_std = pd.merge(affluent_std,weather,on='timestamp')
affluent_tou = pd.merge(affluent_tou,weather,on='timestamp')
comfortable_std = pd.merge(comfortable_std,weather,on='timestamp')
comfortable_tou = pd.merge(comfortable_tou,weather,on='timestamp')

In [19]:
acornu_std['weeknumber'] = acornu_std['timestamp'].dt.day_name()
acornu_tou['weeknumber'] = acornu_tou['timestamp'].dt.day_name()
adversity_std['weeknumber'] = adversity_std['timestamp'].dt.day_name()
adversity_tou['weeknumber'] = adversity_tou['timestamp'].dt.day_name()
affluent_std['weeknumber'] = affluent_std['timestamp'].dt.day_name()
affluent_tou['weeknumber'] = affluent_tou['timestamp'].dt.day_name()
comfortable_std['weeknumber'] = comfortable_std['timestamp'].dt.day_name()
comfortable_tou['weeknumber'] = comfortable_tou['timestamp'].dt.day_name()

In [20]:
week_name_1 = acornu_std["weeknumber"].tolist()
week_name_2 = acornu_tou["weeknumber"].tolist()
week_name_3 = adversity_std["weeknumber"].tolist()
week_name_4 = adversity_tou["weeknumber"].tolist()
week_name_5 = affluent_std["weeknumber"].tolist()
week_name_6 = affluent_tou["weeknumber"].tolist()
week_name_7 = comfortable_std["weeknumber"].tolist()
week_name_8 = comfortable_tou["weeknumber"].tolist()

In [21]:
week_number_1 = []
week_number_2 = []
week_number_3 = []
week_number_4 = []
week_number_5 = []
week_number_6 = []
week_number_7 = []
week_number_8 = []

In [22]:
for row in week_name_1:
    if row == "Saturday" or row == "Sunday":
        week_number_1.append(1)
    else:
        week_number_1.append(0)

In [23]:
for row in week_name_2:
    if row == "Saturday" or row == "Sunday":
        week_number_2.append(1)
    else:
        week_number_2.append(0)

In [24]:
for row in week_name_3:
    if row == "Saturday" or row == "Sunday":
        week_number_3.append(1)
    else:
        week_number_3.append(0)

In [25]:
for row in week_name_4:
    if row == "Saturday" or row == "Sunday":
        week_number_4.append(1)
    else:
        week_number_4.append(0)

In [26]:
for row in week_name_5:
    if row == "Saturday" or row == "Sunday":
        week_number_5.append(1)
    else:
        week_number_5.append(0)

In [27]:
for row in week_name_6:
    if row == "Saturday" or row == "Sunday":
        week_number_6.append(1)
    else:
        week_number_6.append(0)

In [28]:
for row in week_name_7:
    if row == "Saturday" or row == "Sunday":
        week_number_7.append(1)
    else:
        week_number_7.append(0)

In [29]:
for row in week_name_8:
    if row == "Saturday" or row == "Sunday":
        week_number_8.append(1)
    else:
        week_number_8.append(0)

In [30]:
acornu_std['weekend'] = np.array(week_number_1)
acornu_tou['weekend'] = np.array(week_number_2)
adversity_std['weekend'] = np.array(week_number_3)
adversity_tou['weekend'] = np.array(week_number_4)
affluent_std['weekend'] = np.array(week_number_5)
affluent_tou['weekend'] = np.array(week_number_6)
comfortable_std['weekend'] = np.array(week_number_7)
comfortable_tou['weekend'] = np.array(week_number_8)

In [31]:
del acornu_std['weeknumber']
del acornu_tou['weeknumber']
del adversity_std['weeknumber']
del adversity_tou['weeknumber']
del affluent_std['weeknumber']
del affluent_tou['weeknumber']
del comfortable_std['weeknumber']
del comfortable_tou['weeknumber']

In [32]:
#Tariffs
tariffs_tou['timestamp'] = pd.to_datetime(tariffs_tou['timestamp'],format = '%d/%m/%Y %H:%M')
tariffs_std['timestamp'] = pd.to_datetime(tariffs_std['timestamp'],format = '%d/%m/%Y %H:%M')

In [35]:
tariffs_std.tail()

                timestamp Type Tariff  Tariff
70075 2013-12-31 21:30:00        Flat   14.23
70076 2013-12-31 22:00:00        Flat   14.23
70077 2013-12-31 22:30:00        Flat   14.23
70078 2013-12-31 23:00:00        Flat   14.23
70079 2013-12-31 23:30:00        Flat   14.23

In [36]:
acornu_std = pd.merge(acornu_std,tariffs_std,on='timestamp')

acornu_tou = pd.merge(acornu_tou,tariffs_tou,on='timestamp')

adversity_std = pd.merge(adversity_std,tariffs_std,on='timestamp')

adversity_tou = pd.merge(adversity_tou,tariffs_tou,on='timestamp')

affluent_std = pd.merge(affluent_std,tariffs_std,on='timestamp')

affluent_tou = pd.merge(affluent_tou,tariffs_tou,on='timestamp')

comfortable_std = pd.merge(comfortable_std,tariffs_std,on='timestamp')

comfortable_tou = pd.merge(comfortable_tou,tariffs_tou,on='timestamp')

In [37]:
acornu_std.to_csv('acornu_std.csv')
acornu_tou.to_csv('acornu_tou.csv')
adversity_std.to_csv('adversity_std.csv')
adversity_tou.to_csv('adversity_tou.csv')
affluent_std.to_csv('affluent_std.csv')
affluent_tou.to_csv('affluent_tou.csv')
comfortable_std.to_csv('comfortable_std.csv')
comfortable_tou.to_csv('comfortable_tou.csv')