In [1]:
import pandas as pd
from pandas import read_csv
import numpy as np
from datetime import datetime
import matplotlib.pylab as plt
from statsmodels.tsa.stattools import adfuller
from pandas.plotting import autocorrelation_plot
from statsmodels.tsa.stattools import acf, pacf

In [3]:
# Adversity consumption

folder = "/Users/mariabelenalberti/OneDrive - Universidad Torcuato Di Tella/MiM + Analitics/Tesis/"
filename = "database_adversity.csv"
database_adversity = pd.read_csv(folder + filename)
len(database_adversity)

30340936

In [4]:
database_adversity.head()

,Unnamed: 0,Unnamed: 0.1,LCLid,energy(kWh/hh),stdorToU,Acorn,Acorn_grouped,timestamp,temperature,apparent_temperature,pressure,wind_speed,humidity,weekend,hour,TariffDateTime,Tariff
0,296,296,MAC000231,0.001,Std,ACORN-Q,Adversity,2013-01-01 00:00:00,11.46,11.46,978.4,6.74,0.82,0,00:00:00,01/01/2013 00:00,Normal
1,297,297,MAC000233,0.033,Std,ACORN-Q,Adversity,2013-01-01 00:00:00,11.46,11.46,978.4,6.74,0.82,0,00:00:00,01/01/2013 00:00,Normal
2,298,298,MAC000249,1.255,Std,ACORN-Q,Adversity,2013-01-01 00:00:00,11.46,11.46,978.4,6.74,0.82,0,00:00:00,01/01/2013 00:00,Normal
3,299,299,MAC000285,0.181,Std,ACORN-Q,Adversity,2013-01-01 00:00:00,11.46,11.46,978.4,6.74,0.82,0,00:00:00,01/01/2013 00:00,Normal
4,300,300,MAC003038,0.171,Std,ACORN-Q,Adversity,2013-01-01 00:00:00,11.46,11.46,978.4,6.74,0.82,0,00:00:00,01/01/2013 00:00,Normal

In [5]:
database_adversity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30340936 entries, 0 to 30340935
Data columns (total 17 columns):
Unnamed: 0              int64
Unnamed: 0.1            int64
LCLid                   object
energy(kWh/hh)          float64
stdorToU                object
Acorn                   object
Acorn_grouped           object
timestamp               object
temperature             float64
apparent_temperature    float64
pressure                float64
wind_speed              float64
humidity                float64
weekend                 int64
hour                    object
TariffDateTime          object
Tariff                  object
dtypes: float64(6), int64(3), object(8)
memory usage: 3.8+ GB

In [8]:
database_adversity['timestamp']= pd.to_datetime(database_adversity['timestamp'],format = '%Y-%m-%d')

In [9]:
database_adversity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30340936 entries, 0 to 30340935
Data columns (total 17 columns):
Unnamed: 0              int64
Unnamed: 0.1            int64
LCLid                   object
energy(kWh/hh)          float64
stdorToU                object
Acorn                   object
Acorn_grouped           object
timestamp               datetime64[ns]
temperature             float64
apparent_temperature    float64
pressure                float64
wind_speed              float64
humidity                float64
weekend                 int64
hour                    object
TariffDateTime          object
Tariff                  object
dtypes: datetime64[ns](1), float64(6), int64(3), object(7)
memory usage: 3.8+ GB

In [10]:
database_adversity['month'] = pd.DatetimeIndex(database_adversity['timestamp']).month

In [12]:
database_adversity.head()

,Unnamed: 0,Unnamed: 0.1,LCLid,energy(kWh/hh),stdorToU,Acorn,Acorn_grouped,timestamp,temperature,apparent_temperature,pressure,wind_speed,humidity,weekend,hour,TariffDateTime,Tariff,month
0,296,296,MAC000231,0.001,Std,ACORN-Q,Adversity,2013-01-01,11.46,11.46,978.4,6.74,0.82,0,00:00:00,01/01/2013 00:00,Normal,1
1,297,297,MAC000233,0.033,Std,ACORN-Q,Adversity,2013-01-01,11.46,11.46,978.4,6.74,0.82,0,00:00:00,01/01/2013 00:00,Normal,1
2,298,298,MAC000249,1.255,Std,ACORN-Q,Adversity,2013-01-01,11.46,11.46,978.4,6.74,0.82,0,00:00:00,01/01/2013 00:00,Normal,1
3,299,299,MAC000285,0.181,Std,ACORN-Q,Adversity,2013-01-01,11.46,11.46,978.4,6.74,0.82,0,00:00:00,01/01/2013 00:00,Normal,1
4,300,300,MAC003038,0.171,Std,ACORN-Q,Adversity,2013-01-01,11.46,11.46,978.4,6.74,0.82,0,00:00:00,01/01/2013 00:00,Normal,1

In [15]:
groupby = database_adversity.groupby(['month']).mean()

In [16]:
groupby.head()

,Unnamed: 0,Unnamed: 0.1,energy(kWh/hh),temperature,apparent_temperature,pressure,wind_speed,humidity,weekend
month,,,,,,,,,
1,4.090121e+06,4.090121e+06,0.211846,7.617544,6.131289,1009.716272,3.544022,0.864607,0.258175
2,1.186073e+07,1.186073e+07,0.208480,5.922511,3.547419,1008.089178,4.232449,0.868959,0.285919
3,1.956324e+07,1.956324e+07,0.203334,4.357438,1.960569,1013.807106,3.735770,0.862444,0.322684
4,2.747775e+07,2.747775e+07,0.177189,4.176491,1.050174,1017.235153,4.349128,0.776140,0.266687
5,3.534460e+07,3.534460e+07,0.159645,3.836035,0.736768,1008.734476,4.051946,0.770254,0.258091