In [1]:
import os
import sys
#from tqdm import tqdm
from tqdm import tqdm_notebook as tqdm
import datetime

import pandas as pd
import numpy as np
import scipy

In [2]:
folder = "/Users/mariabelenalberti/OneDrive - Universidad Torcuato Di Tella/MiM + Analitics/Tesis/Dataframes finales/"
filename = "final.csv"
tariffs = pd.read_csv(folder + filename)

In [3]:
tariffs.head()

,Unnamed: 0,LCLid,energy(kWh/hh),stdorToU,Acorn,Acorn_grouped,timestamp,temperature,apparent_temperature,pressure,wind_speed,humidity,weekend,hour,TariffDateTime,Tariff
0,0,MAC000027,0.240,Std,ACORN-J,Comfortable,2013-01-01 00:00:00,11.46,11.46,978.4,6.74,0.82,0,00:00:00,01/01/2013 00:00,Normal
1,1,MAC000406,0.141,ToU,ACORN-I,Comfortable,2013-01-01 00:00:00,11.46,11.46,978.4,6.74,0.82,0,00:00:00,01/01/2013 00:00,Normal
2,2,MAC000492,0.120,Std,ACORN-I,Comfortable,2013-01-01 00:00:00,11.46,11.46,978.4,6.74,0.82,0,00:00:00,01/01/2013 00:00,Normal
3,3,MAC000512,0.070,ToU,ACORN-J,Comfortable,2013-01-01 00:00:00,11.46,11.46,978.4,6.74,0.82,0,00:00:00,01/01/2013 00:00,Normal
4,4,MAC000726,0.103,Std,ACORN-I,Comfortable,2013-01-01 00:00:00,11.46,11.46,978.4,6.74,0.82,0,00:00:00,01/01/2013 00:00,Normal

In [19]:
database_comfortable = tariffs[tariffs['Acorn_grouped'] == "Comfortable"]

In [21]:
database_affluent = tariffs[tariffs['Acorn_grouped'] == "Affluent"]

In [26]:
database_adversity = tariffs[tariffs['Acorn_grouped'] == "Adversity"]

In [23]:
database_acorn_u = tariffs[tariffs['Acorn_grouped'] == "ACORN-U"]

In [9]:
tariffs.groupby(["Acorn_grouped"]).count()

,Unnamed: 0,LCLid,energy(kWh/hh),stdorToU,Acorn,timestamp,temperature,apparent_temperature,pressure,wind_speed,humidity,weekend,hour,TariffDateTime,Tariff
Acorn_grouped,,,,,,,,,,,,,,,
ACORN-,11851,11851,11851,11851,11851,11851,11851,11851,11851,11851,11851,11851,11851,11851,11851
ACORN-U,812444,812444,812444,812444,812444,812444,812444,812444,812444,812444,812444,812444,812444,812444,812444
Adversity,30340936,30340936,30340936,30340936,30340936,30340936,30340936,30340936,30340936,30340936,30340936,30340936,30340936,30340936,30340936
Affluent,36361065,36361065,36361065,36361065,36361065,36361065,36361065,36361065,36361065,36361065,36361065,36361065,36361065,36361065,36361065
Comfortable,25476970,25476970,25476970,25476970,25476970,25476970,25476970,25476970,25476970,25476970,25476970,25476970,25476970,25476970,25476970

In [27]:
print(len(database_comfortable))
print(len(database_affluent))
print(len(database_adversity))
print(len(database_acorn_u))

25476970
36361065
30340936
812444

In [28]:
database_comfortable.head()

,Unnamed: 0,LCLid,energy(kWh/hh),stdorToU,Acorn,Acorn_grouped,timestamp,temperature,apparent_temperature,pressure,wind_speed,humidity,weekend,hour,TariffDateTime,Tariff
0,0,MAC000027,0.240,Std,ACORN-J,Comfortable,2013-01-01 00:00:00,11.46,11.46,978.4,6.74,0.82,0,00:00:00,01/01/2013 00:00,Normal
1,1,MAC000406,0.141,ToU,ACORN-I,Comfortable,2013-01-01 00:00:00,11.46,11.46,978.4,6.74,0.82,0,00:00:00,01/01/2013 00:00,Normal
2,2,MAC000492,0.120,Std,ACORN-I,Comfortable,2013-01-01 00:00:00,11.46,11.46,978.4,6.74,0.82,0,00:00:00,01/01/2013 00:00,Normal
3,3,MAC000512,0.070,ToU,ACORN-J,Comfortable,2013-01-01 00:00:00,11.46,11.46,978.4,6.74,0.82,0,00:00:00,01/01/2013 00:00,Normal
4,4,MAC000726,0.103,Std,ACORN-I,Comfortable,2013-01-01 00:00:00,11.46,11.46,978.4,6.74,0.82,0,00:00:00,01/01/2013 00:00,Normal

In [29]:
database_comfortable.to_csv('database_comfortable.csv')

In [30]:
database_affluent.to_csv('database_affluent.csv')

In [31]:
database_adversity.to_csv('database_adversity.csv')

In [32]:
database_acorn_u.to_csv('database_acorn_u.csv')