In [1]:
import pandas as pd
from pandas import read_csv

In [43]:
path = '/Users/mariabelenalberti/Documents/smart-meters-in-london/'
filename = 'informations_households.csv'
info_h = read_csv(path + filename)
del info_h['file']
del info_h['Acorn']

In [50]:
len(info_h)

5566

In [47]:
path = '/Users/mariabelenalberti/OneDrive - Universidad Torcuato Di Tella/Tesis/code_datasets/1_data_frames/'
filename = 'household_save.csv'
households = read_csv(path + filename)
households = households.astype('object')

In [49]:
len(households)

348

In [51]:
complete_info_house = pd.merge(households,info_h,on = 'LCLid',how='left')

In [52]:
len(complete_info_house)

348

In [54]:
complete_info_house.groupby(['Acorn_grouped']).count()

               LCLid  stdorToU
Acorn_grouped
ACORN-U            5         5
Adversity        106       106
Affluent         138       138
Comfortable       99        99

In [55]:
complete_info_house.to_csv('/Users/mariabelenalberti/OneDrive - Universidad Torcuato Di Tella/Tesis/code_datasets/1_data_frames/complete_info_house.csv',index=False)