In [1]:
import pandas as pd
from pandas import read_csv
import glob
import numpy as np
import matplotlib.pyplot as plt

In [2]:
folder = "/Users/mariabelenalberti/OneDrive - Universidad Torcuato Di Tella/Tesis/code_datasets/1_data_frames/covariates/"
file = "covariates.csv"
covariates = pd.read_csv(folder+file)

In [3]:
covariates['tstp']= pd.to_datetime(covariates['tstp'],format = '%d/%m/%Y %H:%M')

In [4]:
covariates.head()

,tstp,visibility,windBearing,temperature,dewPoint,pressure,windSpeed,humidity,weekend
0,2012-01-01 00:00:00,12.99,229,12.12,10.97,1008.10,5.90,0.93,1
1,2012-01-01 00:30:00,12.99,229,12.12,10.97,1008.10,5.90,0.93,1
2,2012-01-01 01:00:00,12.89,238,12.59,11.02,1007.88,6.06,0.90,1
3,2012-01-01 01:30:00,12.89,238,12.59,11.02,1007.88,6.06,0.90,1
4,2012-01-01 02:00:00,11.54,229,12.45,11.04,1007.95,5.31,0.91,1

In [28]:
folder = "/Users/mariabelenalberti/OneDrive - Universidad Torcuato Di Tella/Tesis/code_datasets/1_data_frames/multivariate/comfortable_tou/"
file = "comfortable_tou.csv"
household_files = pd.read_csv(folder+file)

In [29]:
household_files = household_files['LCLid'].values.tolist()

In [30]:
len(household_files)

14

In [31]:
i = 0
for file in household_files:
    i = i + 1
    print('filename number ' + str(i))
    folder = '/Users/mariabelenalberti/OneDrive - Universidad Torcuato Di Tella/Tesis/code_datasets/1_data_frames/univariate/Comfortable/'
    df = pd.read_csv(folder+str(file)+".csv")
    df['tstp']= pd.to_datetime(df['tstp'],format = '%d/%m/%Y %H:%M')
    merge = pd.merge(df,covariates, on='tstp')
    df = pd.DataFrame(merge)
    df.to_csv('/Users/mariabelenalberti/OneDrive - Universidad Torcuato Di Tella/Tesis/code_datasets/1_data_frames/multivariate/comfortable_tou/'+str(file)+".csv",index=False)

filename number 1
filename number 2
filename number 3
filename number 4
filename number 5
filename number 6
filename number 7
filename number 8
filename number 9
filename number 10
filename number 11
filename number 12
filename number 13
filename number 14