In [1]:
import pandas as pd
from pandas import read_csv
import glob
import numpy as np
import matplotlib.pyplot as plt

In [2]:
folder = "/Users/mariabelenalberti/OneDrive - Universidad Torcuato Di Tella/Tesis/code_datasets/1_data_frames/covariates/"
file = "covariates.csv"
covariates = pd.read_csv(folder+file)

In [3]:
covariates['tstp']= pd.to_datetime(covariates['tstp'],format = '%d/%m/%Y %H:%M')

In [4]:
covariates.head()

,tstp,visibility,windBearing,temperature,dewPoint,pressure,apparentTemperature,windSpeed,humidity
0,2012-01-01 00:00:00,12.99,229,12.12,10.97,1008.10,12.12,5.90,0.93
1,2012-01-01 00:30:00,12.99,229,12.12,10.97,1008.10,12.12,5.90,0.93
2,2012-01-01 01:00:00,12.89,238,12.59,11.02,1007.88,12.59,6.06,0.90
3,2012-01-01 01:30:00,12.89,238,12.59,11.02,1007.88,12.59,6.06,0.90
4,2012-01-01 02:00:00,11.54,229,12.45,11.04,1007.95,12.45,5.31,0.91

In [14]:
folder = "/Users/mariabelenalberti/OneDrive - Universidad Torcuato Di Tella/Tesis/code_datasets/1_data_frames/univariate/"
file = "LCLid_complete.csv"
household_files = pd.read_csv(folder+file)

In [15]:
household_files = household_files['household'].values.tolist()

In [16]:
household_files

['MAC000018',
 'MAC000019',
 'MAC000027',
 'MAC000048',
 'MAC000049',
 'MAC000131',
 'MAC000255',
 'MAC004455',
 'MAC004463',
 'MAC004491',
 'MAC004494',
 'MAC004509']

In [21]:
for file in household_files:
    print(file)
    folder = '/Users/mariabelenalberti/OneDrive - Universidad Torcuato Di Tella/Tesis/code_datasets/1_data_frames/univariate/'
    df = pd.read_csv(folder+str(file)+".csv")
    df['tstp']= pd.to_datetime(df['tstp'],format = '%Y/%m/%d %H:%M:%S')
    merge = pd.merge(df,covariates, on='tstp')
    df = pd.DataFrame(merge)
    df.to_csv(str(file)+".csv",index=False)

MAC000018
MAC000019
MAC000027
MAC000048
MAC000049
MAC000131
MAC000255
MAC004455
MAC004463
MAC004491
MAC004494
MAC004509