In [1]:
import pandas as pd
from pandas import read_csv
import glob
import numpy as np
import matplotlib.pyplot as plt

In [16]:
folder = "/Users/mariabelenalberti/OneDrive - Universidad Torcuato Di Tella/Tesis/datasets/finales/"
file = "affluent_std copy.csv"
db = pd.read_csv(folder+file)

In [17]:
db = db[['hour','temperature','pressure','wind_speed','humidity','weekend']]

In [29]:
db = db.rename(columns={"hour": "tstp"})
db['tstp']= pd.to_datetime(db['tstp'],format = '%d/%m/%Y %H:%M')

In [30]:
db.head()

                 tstp  temperature  pressure  wind_speed  humidity  weekend
0 2012-01-01 00:00:00        13.49   1008.14        3.11      0.88        1
1 2012-01-01 00:30:00        13.49   1008.14        3.11      0.88        1
2 2012-01-01 01:00:00        12.73   1007.88        3.08      0.93        1
3 2012-01-01 01:30:00        12.73   1007.88        3.08      0.93        1
4 2012-01-01 02:00:00        13.65   1007.09        3.71      0.91        1

In [36]:
household_files = ['household_MAC000002.csv','household_MAC000003.csv']

In [ ]:
for file in household_files:
    folder = '/Users/mariabelenalberti/OneDrive - Universidad Torcuato Di Tella/Tesis/code/individual/small/'
    df = pd.read_csv(folder+str(file))
    if len(df) == 35040:
        df['tstp']= pd.to_datetime(df['tstp'],format = '%Y/%m/%d %H:%M:%S')
        merge = pd.merge(df,db, on='tstp')
        df = pd.DataFrame(merge)
        df.to_csv(str(file),index=False)