In [1]:
import pandas as pd
from pandas import read_csv
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
from scipy import stats
import glob

In [2]:
# Half hourly consumtion
path = '/Users/mariabelenalberti/Downloads/smart-meters-in-london/halfhourly_dataset' # use your path
all_files = glob.glob(path + "/*.csv")

lista = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    lista.append(df)

halfhourly_consumption = pd.concat(lista, axis=0, ignore_index=True)

/Users/mariabelenalberti/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
halfhourly_consumption['timestamp']= pd.to_datetime(halfhourly_consumption['tstp'],format = '%Y-%m-%d')
del halfhourly_consumption['tstp']

In [4]:
# Households
folder = "/Users/mariabelenalberti/Downloads/smart-meters-in-london/"
filename = "informations_households.csv"
households = pd.read_csv(folder + filename)

In [5]:
hh_df = pd.merge(halfhourly_consumption,households,on='LCLid')

In [6]:
hh_df.head()

,LCLid,energy(kWh/hh),timestamp,stdorToU,Acorn,Acorn_grouped,file
0,MAC000027,0.185,2011-12-07 11:30:00,Std,ACORN-J,Comfortable,block_71
1,MAC000027,0.155,2011-12-07 12:00:00,Std,ACORN-J,Comfortable,block_71
2,MAC000027,0.147,2011-12-07 12:30:00,Std,ACORN-J,Comfortable,block_71
3,MAC000027,0.164,2011-12-07 13:00:00,Std,ACORN-J,Comfortable,block_71
4,MAC000027,0.187,2011-12-07 13:30:00,Std,ACORN-J,Comfortable,block_71

In [6]:
del hh_df['file']

In [7]:
del hh_df['Acorn']

In [9]:
hh_df.head()

       LCLid energy(kWh/hh)           timestamp stdorToU Acorn_grouped
0  MAC000027         0.185  2011-12-07 11:30:00      Std   Comfortable
1  MAC000027         0.155  2011-12-07 12:00:00      Std   Comfortable
2  MAC000027         0.147  2011-12-07 12:30:00      Std   Comfortable
3  MAC000027         0.164  2011-12-07 13:00:00      Std   Comfortable
4  MAC000027         0.187  2011-12-07 13:30:00      Std   Comfortable

In [10]:
hh_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 167817021 entries, 0 to 167817020
Data columns (total 5 columns):
LCLid             object
energy(kWh/hh)    object
timestamp         datetime64[ns]
stdorToU          object
Acorn_grouped     object
dtypes: datetime64[ns](1), object(4)
memory usage: 7.5+ GB

In [8]:
hh_df = hh_df[hh_df['energy(kWh/hh)'] != "Null"]

In [9]:
len(halfhourly_consumption)

167817021

In [11]:
hh_df.head()

       LCLid energy(kWh/hh)           timestamp stdorToU Acorn_grouped
0  MAC000027         0.185  2011-12-07 11:30:00      Std   Comfortable
1  MAC000027         0.155  2011-12-07 12:00:00      Std   Comfortable
2  MAC000027         0.147  2011-12-07 12:30:00      Std   Comfortable
3  MAC000027         0.164  2011-12-07 13:00:00      Std   Comfortable
4  MAC000027         0.187  2011-12-07 13:30:00      Std   Comfortable

In [13]:
ACORN_U = hh_df[hh_df['Acorn_grouped'] == 'ACORN-U']
Adversity = hh_df[hh_df['Acorn_grouped'] == 'Adversity']
Affluent = hh_df[hh_df['Acorn_grouped'] == 'Affluent']
Comfortable = hh_df[hh_df['Acorn_grouped'] == 'Comfortable']

In [25]:
acornu = pd.get_dummies(ACORN_U, columns=['stdorToU'], dtype= bool)

In [26]:
adversity = pd.get_dummies(Adversity, columns=['stdorToU'], dtype=bool)

In [27]:
affluent = pd.get_dummies(Affluent, columns=['stdorToU'], dtype=bool)

In [28]:
comfortable = pd.get_dummies(Comfortable, columns=['stdorToU'], dtype=bool)

In [30]:
del acornu['LCLid']
del acornu['Acorn_grouped']
del adversity['LCLid']
del adversity['Acorn_grouped']
del affluent['LCLid']
del affluent['Acorn_grouped']
del comfortable['LCLid']
del comfortable['Acorn_grouped']

In [31]:
acornu.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1411777 entries, 99554429 to 113705009
Data columns (total 4 columns):
energy(kWh/hh)    1411777 non-null object
timestamp         1411777 non-null datetime64[ns]
stdorToU_Std      1411777 non-null bool
stdorToU_ToU      1411777 non-null bool
dtypes: bool(2), datetime64[ns](1), object(1)
memory usage: 35.0+ MB

In [32]:
acornu["energy(kWh/hh)"] = acornu["energy(kWh/hh)"].convert_objects(convert_numeric=True)
adversity["energy(kWh/hh)"] = adversity["energy(kWh/hh)"].convert_objects(convert_numeric=True)
affluent["energy(kWh/hh)"] = affluent["energy(kWh/hh)"].convert_objects(convert_numeric=True)
comfortable["energy(kWh/hh)"] = comfortable["energy(kWh/hh)"].convert_objects(convert_numeric=True)

/Users/mariabelenalberti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use Series.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.
/Users/mariabelenalberti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use Series.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

/Users/mariabelenalberti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use Series.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/mariabelenalberti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use Series.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  after removing the cwd from sys.path.

In [37]:
acornu.head()

          energy(kWh/hh)           timestamp  stdorToU_Std  stdorToU_ToU
99554429           0.279 2011-12-12 13:00:00          True         False
99554430           0.176 2011-12-12 13:30:00          True         False
99554431           0.044 2011-12-12 14:00:00          True         False
99554432           0.020 2011-12-12 14:30:00          True         False
99554433           0.023 2011-12-12 15:00:00          True         False

In [39]:
acornu_tou = acornu.loc[acornu['stdorToU_Std'] == True]
acornu_std = acornu.loc[acornu['stdorToU_ToU'] == True]

In [40]:
adversity_tou = adversity.loc[adversity['stdorToU_Std'] == True]
adversity_std = adversity.loc[adversity['stdorToU_ToU'] == True]

In [42]:
affluent_tou = affluent.loc[affluent['stdorToU_Std'] == True]
affluent_std = affluent.loc[affluent['stdorToU_ToU'] == True]

In [43]:
comfortable_tou = comfortable.loc[comfortable['stdorToU_Std'] == True]
comfortable_std = comfortable.loc[comfortable['stdorToU_ToU'] == True]

In [45]:
acornu_tou = acornu_tou[["timestamp","energy(kWh/hh)",]]
acornu_std = acornu_std[["timestamp","energy(kWh/hh)",]]

In [46]:
adversity_tou = adversity_tou[["timestamp","energy(kWh/hh)",]]
adversity_std = adversity_std[["timestamp","energy(kWh/hh)",]]

In [47]:
affluent_tou = affluent_tou[["timestamp","energy(kWh/hh)",]]
affluent_std = affluent_std[["timestamp","energy(kWh/hh)",]]

In [48]:
comfortable_tou = comfortable_tou[["timestamp","energy(kWh/hh)",]]
comfortable_std = comfortable_std[["timestamp","energy(kWh/hh)",]]

In [49]:
acornu_tou.head()

                   timestamp  energy(kWh/hh)
99554429 2011-12-12 13:00:00           0.279
99554430 2011-12-12 13:30:00           0.176
99554431 2011-12-12 14:00:00           0.044
99554432 2011-12-12 14:30:00           0.020
99554433 2011-12-12 15:00:00           0.023

In [50]:
acornu_tou_grouped = acornu_tou.groupby(['timestamp']).mean().reset_index()

In [51]:
acornu_std_grouped = acornu_std.groupby(['timestamp']).mean().reset_index()

In [52]:
affluent_tou_grouped = affluent_tou.groupby(['timestamp']).mean().reset_index()

In [53]:
affluent_std_grouped = affluent_std.groupby(['timestamp']).mean().reset_index()

In [54]:
adversity_tou_grouped = adversity_tou.groupby(['timestamp']).mean().reset_index()

In [55]:
adversity_std_grouped = adversity_std.groupby(['timestamp']).mean().reset_index()

In [56]:
comfortable_tou_grouped = comfortable_tou.groupby(['timestamp']).mean().reset_index()

In [70]:
comfortable_std_grouped = comfortable_std.groupby(['timestamp']).mean().reset_index()

In [99]:
acornu_tou_grouped.to_csv('acornu_tou_grouped.csv')

In [100]:
acornu_std_grouped .to_csv('acornu_std_grouped.csv')

In [101]:
affluent_tou_grouped.to_csv('affluent_tou_grouped.csv')

In [102]:
affluent_std_grouped.to_csv('affluent_std_grouped.csv')

In [107]:
adversity_tou_grouped.to_csv('adversity_tou_grouped.csv')

In [108]:
adversity_std_grouped.to_csv('adversity_std_grouped.csv')

In [111]:
comfortable_tou_grouped.to_csv('comfortable_tou_grouped.csv')

In [112]:
comfortable_std_grouped.to_csv('comfortable_std_grouped.csv')