Data preparation

In [2]:
import os
import sys
#from tqdm import tqdm
from tqdm import tqdm_notebook as tqdm
import datetime

import pandas as pd
import numpy as np
import scipy

import matplotlib.pyplot as plt
import seaborn as sns
sns.set(color_codes=True)

import plotly.graph_objs as go
import plotly.figure_factory as ff
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

init_notebook_mode(connected=True)

from datetime import datetime
import numpy

In [2]:
folder = "/Users/mariabelenalberti/Downloads/smart-meters-in-london/"

In [3]:
# Weather
filename = "weather_half_hourly.csv"
weather = pd.read_csv(folder + filename)
weather["tstp"] = weather["timestamp"]

In [4]:
weather.head()

,timestamp,temperature,apparent_temperature,pressure,wind_speed,humidity,tstp
0,01/01/2012 00:00,13.49,13.49,1008.14,3.11,0.88,01/01/2012 00:00
1,01/01/2012 00:30,13.49,13.49,1008.14,3.11,0.88,01/01/2012 00:30
2,01/01/2012 01:00,12.73,12.73,1007.88,3.08,0.93,01/01/2012 01:00
3,01/01/2012 01:30,12.73,12.73,1007.88,3.08,0.93,01/01/2012 01:30
4,01/01/2012 02:00,13.65,13.65,1007.09,3.71,0.91,01/01/2012 02:00

In [5]:
# Energy

dataset_folder="halfhourly_dataset/"

import glob
import pandas as pd

path = "/Users/mariabelenalberti/Downloads/smart-meters-in-london/halfhourly_dataset"
filenames = glob.glob(path + "/*.csv")

dfs = []
for filename in filenames:
    dfs.append(pd.read_csv(filename,low_memory= False))

In [6]:
# Concateno todos los bloques de datos
half_hourly_complete = pd.concat(dfs, ignore_index=True)
len(half_hourly_complete)

167817021

In [7]:
# Acorn
filename = "informations_households.csv"
households = pd.read_csv(folder + filename)
len(households)

5566

In [8]:
# Energy + Acron
energy_acorn = pd.merge(half_hourly_complete,households, on='LCLid')

In [9]:
pd.to_datetime(weather.tstp)

0       2012-01-01 00:00:00
1       2012-01-01 00:30:00
2       2012-01-01 01:00:00
3       2012-01-01 01:30:00
4       2012-01-01 02:00:00
5       2012-01-01 02:30:00
6       2012-01-01 03:00:00
7       2012-01-01 03:30:00
8       2012-01-01 04:00:00
9       2012-01-01 04:30:00
10      2012-01-01 05:00:00
11      2012-01-01 05:30:00
12      2012-01-01 06:00:00
13      2012-01-01 06:30:00
14      2012-01-01 07:00:00
15      2012-01-01 07:30:00
16      2012-01-01 08:00:00
17      2012-01-01 08:30:00
18      2012-01-01 09:00:00
19      2012-01-01 09:30:00
20      2012-01-01 10:00:00
21      2012-01-01 10:30:00
22      2012-01-01 11:00:00
23      2012-01-01 11:30:00
24      2012-01-01 12:00:00
25      2012-01-01 12:30:00
26      2012-01-01 13:00:00
27      2012-01-01 13:30:00
28      2012-01-01 14:00:00
29      2012-01-01 14:30:00
                ...
35054   2013-12-31 09:00:00
35055   2013-12-31 09:30:00
35056   2013-12-31 10:00:00
35057   2013-12-31 10:30:00
35058   2013-12-31 11:00:00
35059   2013-12-31 11:30:00
35060   2013-12-31 12:00:00
35061   2013-12-31 12:30:00
35062   2013-12-31 13:00:00
35063   2013-12-31 13:30:00
35064   2013-12-31 14:00:00
35065   2013-12-31 14:30:00
35066   2013-12-31 15:00:00
35067   2013-12-31 15:30:00
35068   2013-12-31 16:00:00
35069   2013-12-31 16:30:00
35070   2013-12-31 17:00:00
35071   2013-12-31 17:30:00
35072   2013-12-31 18:00:00
35073   2013-12-31 18:30:00
35074   2013-12-31 19:00:00
35075   2013-12-31 19:30:00
35076   2013-12-31 20:00:00
35077   2013-12-31 20:30:00
35078   2013-12-31 21:00:00
35079   2013-12-31 21:30:00
35080   2013-12-31 22:00:00
35081   2013-12-31 22:30:00
35082   2013-12-31 23:00:00
35083   2013-12-31 23:30:00
Name: tstp, Length: 35084, dtype: datetime64[ns]

In [10]:
weather['tstp']= pd.to_datetime(weather['tstp'],format = '%d/%m/%Y %H:%M')

In [11]:
pd.to_datetime(energy_acorn.tstp)

0           2011-12-07 11:30:00
1           2011-12-07 12:00:00
2           2011-12-07 12:30:00
3           2011-12-07 13:00:00
4           2011-12-07 13:30:00
5           2011-12-07 14:00:00
6           2011-12-07 14:30:00
7           2011-12-07 15:00:00
8           2011-12-07 15:30:00
9           2011-12-07 16:00:00
10          2011-12-07 16:30:00
11          2011-12-07 17:00:00
12          2011-12-07 17:30:00
13          2011-12-07 18:00:00
14          2011-12-07 18:30:00
15          2011-12-07 19:00:00
16          2011-12-07 19:30:00
17          2011-12-07 20:00:00
18          2011-12-07 20:30:00
19          2011-12-07 21:00:00
20          2011-12-07 21:30:00
21          2011-12-07 22:00:00
22          2011-12-07 22:30:00
23          2011-12-07 23:00:00
24          2011-12-07 23:30:00
25          2011-12-08 00:00:00
26          2011-12-08 00:30:00
27          2011-12-08 01:00:00
28          2011-12-08 01:30:00
29          2011-12-08 02:00:00
                    ...
167816991   2013-05-15 09:00:00
167816992   2013-05-15 09:30:00
167816993   2013-05-15 10:00:00
167816994   2013-05-15 10:30:00
167816995   2013-05-15 11:00:00
167816996   2013-05-15 11:30:00
167816997   2013-05-15 12:00:00
167816998   2013-05-15 12:30:00
167816999   2013-05-15 13:00:00
167817000   2013-05-15 13:30:00
167817001   2013-05-15 14:00:00
167817002   2013-05-15 14:30:00
167817003   2013-05-15 15:00:00
167817004   2013-05-15 15:30:00
167817005   2013-05-15 16:00:00
167817006   2013-05-15 16:30:00
167817007   2013-05-15 17:00:00
167817008   2013-05-15 17:30:00
167817009   2013-05-15 18:00:00
167817010   2013-05-15 18:30:00
167817011   2013-05-15 19:00:00
167817012   2013-05-15 19:30:00
167817013   2013-05-15 20:00:00
167817014   2013-05-15 20:30:00
167817015   2013-05-15 21:00:00
167817016   2013-05-15 21:30:00
167817017   2013-05-15 22:00:00
167817018   2013-05-15 22:30:00
167817019   2013-05-15 23:00:00
167817020   2013-05-15 23:30:00
Name: tstp, Length: 167817021, dtype: datetime64[ns]

In [14]:
energy_acorn['tstp']= pd.to_datetime(energy_acorn['tstp'],format = '%Y/%m/%d %H:%M:%S.%f')

In [15]:
# energy + acorn + weather

energy_acorn_weather = pd.merge(energy_acorn,weather, on='tstp')

In [16]:
energy_acorn_weather["weeknumber"]=energy_acorn_weather["tstp"].dt.day_name()

In [17]:
energy_acorn_weather.head()

,LCLid,tstp,energy(kWh/hh),stdorToU,Acorn,Acorn_grouped,file,timestamp,temperature,apparent_temperature,pressure,wind_speed,humidity,weeknumber
0,MAC000027,2012-01-01,0.125,Std,ACORN-J,Comfortable,block_71,01/01/2012 00:00,13.49,13.49,1008.14,3.11,0.88,Sunday
1,MAC000069,2012-01-01,0.243,Std,ACORN-G,Comfortable,block_59,01/01/2012 00:00,13.49,13.49,1008.14,3.11,0.88,Sunday
2,MAC000241,2012-01-01,0.314,Std,ACORN-G,Comfortable,block_59,01/01/2012 00:00,13.49,13.49,1008.14,3.11,0.88,Sunday
3,MAC000250,2012-01-01,0.056,Std,ACORN-G,Comfortable,block_59,01/01/2012 00:00,13.49,13.49,1008.14,3.11,0.88,Sunday
4,MAC004485,2012-01-01,0.077,ToU,ACORN-G,Comfortable,block_59,01/01/2012 00:00,13.49,13.49,1008.14,3.11,0.88,Sunday

In [18]:
week_name = energy_acorn_weather["weeknumber"].tolist()

In [19]:
week_number = []

In [20]:
for row in week_name:
    if row == "Saturday" or row == "Sunday":
        week_number.append(1)
    else:
        week_number.append(0)

In [21]:
energy_acorn_weather['weekend'] = np.array(week_number)

In [22]:
energy_acorn_weather.head()

,LCLid,tstp,energy(kWh/hh),stdorToU,Acorn,Acorn_grouped,file,timestamp,temperature,apparent_temperature,pressure,wind_speed,humidity,weeknumber,weekend
0,MAC000027,2012-01-01,0.125,Std,ACORN-J,Comfortable,block_71,01/01/2012 00:00,13.49,13.49,1008.14,3.11,0.88,Sunday,1
1,MAC000069,2012-01-01,0.243,Std,ACORN-G,Comfortable,block_59,01/01/2012 00:00,13.49,13.49,1008.14,3.11,0.88,Sunday,1
2,MAC000241,2012-01-01,0.314,Std,ACORN-G,Comfortable,block_59,01/01/2012 00:00,13.49,13.49,1008.14,3.11,0.88,Sunday,1
3,MAC000250,2012-01-01,0.056,Std,ACORN-G,Comfortable,block_59,01/01/2012 00:00,13.49,13.49,1008.14,3.11,0.88,Sunday,1
4,MAC004485,2012-01-01,0.077,ToU,ACORN-G,Comfortable,block_59,01/01/2012 00:00,13.49,13.49,1008.14,3.11,0.88,Sunday,1

In [23]:
del energy_acorn_weather['tstp']
del energy_acorn_weather['file']
del energy_acorn_weather['weeknumber']

In [24]:
energy_acorn_weather.head()

,LCLid,energy(kWh/hh),stdorToU,Acorn,Acorn_grouped,timestamp,temperature,apparent_temperature,pressure,wind_speed,humidity,weekend
0,MAC000027,0.125,Std,ACORN-J,Comfortable,01/01/2012 00:00,13.49,13.49,1008.14,3.11,0.88,1
1,MAC000069,0.243,Std,ACORN-G,Comfortable,01/01/2012 00:00,13.49,13.49,1008.14,3.11,0.88,1
2,MAC000241,0.314,Std,ACORN-G,Comfortable,01/01/2012 00:00,13.49,13.49,1008.14,3.11,0.88,1
3,MAC000250,0.056,Std,ACORN-G,Comfortable,01/01/2012 00:00,13.49,13.49,1008.14,3.11,0.88,1
4,MAC004485,0.077,ToU,ACORN-G,Comfortable,01/01/2012 00:00,13.49,13.49,1008.14,3.11,0.88,1

In [25]:
energy_acorn_weather.to_csv("energy_acorn_weather.csv",index = False)

In [3]:
# Tariffs
folder = "/Users/mariabelenalberti/Downloads/smart-meters-in-london/"
filename = "Tariffs.csv"
tariffs = pd.read_csv(folder + filename)
len(tariffs)

17520

In [4]:
folder = "/Users/mariabelenalberti/Downloads/smart-meters-in-london/"
filename = "energy_acorn_weather.csv"
energy_acorn_weather = pd.read_csv(folder + filename)

In [29]:
tariffs.head()

     TariffDateTime  Tariff
0  01/01/2013 00:00  Normal
1  01/01/2013 00:30  Normal
2  01/01/2013 01:00  Normal
3  01/01/2013 01:30  Normal
4  01/01/2013 02:00  Normal

In [31]:
energy_acorn_weather_tariffs = pd.merge(energy_acorn_weather,tariffs, on='timestamp')

KeyError: 'timestamp'

In [5]:
energy_acorn_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153366213 entries, 0 to 153366212
Data columns (total 12 columns):
LCLid                   object
energy(kWh/hh)          float64
stdorToU                object
Acorn                   object
Acorn_grouped           object
timestamp               object
temperature             float64
apparent_temperature    float64
pressure                float64
wind_speed              float64
humidity                float64
weekend                 int64
dtypes: float64(6), int64(1), object(5)
memory usage: 13.7+ GB

In [6]:
tariffs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17520 entries, 0 to 17519
Data columns (total 2 columns):
TariffDateTime    17520 non-null object
Tariff            17520 non-null object
dtypes: object(2)
memory usage: 273.8+ KB

In [8]:
 # pd.to_datetime(energy_acorn_weather.timestamp)